rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn(){ return request.auth != null; }
    function isImage(){ return request.resource.contentType.matches('image/.*'); }
    match /users/{uid}/{fileName} { allow read: if true; allow write: if signedIn() && request.auth.uid == uid && isImage() && request.resource.size < 5 * 1024 * 1024; }
    match /content/{allPaths=**} { allow read: if true; allow write: if signedIn() && request.resource.size < 20 * 1024 * 1024; }
    match /appeals/{uid}/{fileName} { allow read: if signedIn(); allow write: if signedIn() && request.auth.uid == uid && request.resource.size < 8 * 1024 * 1024; }
  }
}
